---
// src/pages/about.astro
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogSection from "@/components/block/BlogSection.astro"
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title="Blog" description="Thoughts from the project team">
  <section>

    <BlogSection
      title="Bob Loblaw Law Blog"
      description="That's a low blow, Loblaw. Bob Loblaw Law Bomb."
      posts={posts}
      showExcerpts={true}
      showCategories={true}
      showAuthors={true}
      showReadTime={true}
      layout="list"
    />

  </section>
</BaseLayout>